.channels {
  margin-top: 2px;
  padding-left: 20px;

  h4 {
    font-size: 1.1rem;
    color: #7b7c85;
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .sidebarChannelsHash {
    font-size: 22px;
    padding-right: 10px;
  }
}
